In [1]:
import pandas as pd
import numpy as np

In [2]:
mapping = pd.read_csv("sec_file_mapping.csv", index_col=0)
mapping.head(3)

,date,ticker,cik,form_type,url
0,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
1,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
2,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...

In [3]:
labels = pd.read_csv("labels_5d.csv", index_col=0)
labels.head(3)

         date ticker  label
0  2014-01-02    FLT    0.0
1  2014-01-02    HLT    0.0
2  2014-01-02    PKI    1.0

In [4]:
mapping_label = mapping.merge(labels, left_on=["date", "ticker"], 
                right_on=["date", "ticker"], how="left")
mapping_label = mapping_label.dropna()
mapping_label = mapping_label.reset_index()
mapping_label = mapping_label.rename(columns={"index": "file_number"})
mapping_label = mapping_label[["file_number", "label"]]
mapping_label

        file_number  label
0                 0    1.0
1                 1    1.0
2                 2    1.0
3                 3    1.0
4                 4    1.0
...             ...    ...
406904       527704    1.0
406905       527705    1.0
406906       527706    1.0
406907       527708    1.0
406908       527709    0.0

[406909 rows x 2 columns]

In [5]:
mapping_label.to_csv("mapping_with_label_5d.csv", index=False)

In [6]:
# training = mapping_label[mapping_label["date"] < "2020-01-01"]
# training.to_csv("mapping_with_label_training.csv")

In [7]:
# test = mapping_label[mapping_label["date"] >= "2021-01-01"]
# test.to_csv("mapping_with_label_test.csv")