In [1]:
import pandas as pd
import requests
import json

In [2]:
data = pd.read_csv("sec_file_mapping.csv", index_col=0)
data["ticker"] = data["ticker"].str.replace("-", ".")
data

,date,ticker,cik,form_type,url
0,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
1,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
2,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
3,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
4,2015-01-09,AEE,1002910,4,http://www.sec.gov/Archives/edgar/data/1002910...
...,...,...,...,...,...
527705,2021-10-29,IVZ,914208,4,http://www.sec.gov/Archives/edgar/data/914208/...
527706,2021-10-29,ESS,920522,4,http://www.sec.gov/Archives/edgar/data/920522/...
527707,2021-10-29,COF.PN,927628,424B2,http://www.sec.gov/Archives/edgar/data/927628/...
527708,2021-10-29,CVX,93410,8-K,http://www.sec.gov/Archives/edgar/data/93410/0...
527709,2021-10-29,TER,97210,4,http://www.sec.gov/Archives/edgar/data/97210/0...

In [6]:
import yfinance as yf
import pandas as pd
all_df = pd.DataFrame()
tickers = list(set(data["ticker"]))
for index, ticker in enumerate(tickers):
    print(index)
    single_df = yf.download(ticker, 
                          start='2014-01-01', 
                          end='2021-11-11', 
                          progress=False)
    single_df = single_df[["Adj Close"]]
    single_df.columns = [ticker]
    all_df = all_df.merge(single_df, left_index=True, right_index=True, how="outer")
all_df

0
1
2

1 Failed download:
- OXY.WT: No data found, symbol may be delisted
3
4
5
6
7
8
9

1 Failed download:
- WRB.PH: No data found, symbol may be delisted
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

1 Failed download:
- CFG.PE: No data found, symbol may be delisted
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

1 Failed download:
- F.PC: No data found, symbol may be delisted
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

1 Failed download:
- WFC.PA: No data found, symbol may be delisted
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97

1 Failed download:
- DHR.PB: No data found, symbol may be delisted
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

1 Failed download:
- KIM.PL: No data found, symbol may be delisted
120
121
122
123
124
125
126
127
128
129
130
131

1 Failed download:
- DUK.PA: No data found, symbol may be delisted
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

1 Failed download:
- BIO.B: No data found for this date range, symbol may be delisted
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180

1 Failed download:
- USB.PR: No data found, symbol may be delisted
181
182
183
184
185

1 Failed download:
- APTV.PA: No data found, symbol may be delisted
186
187
188
189
190
191

1 Failed download:
- FRT.PC: No data found, symbol may be delisted
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214

1 Failed download:
- STZ.B: No data found for this date range, symbol may be delisted
215
216
217

1 Failed download:
- EP.PC: No data found, symbol may be delisted
218
219
220
221
222
223
224
225
226
227
228

1 Failed download:
- RF.PE: No data found, symbol may be delisted
229
230
231
232

1 Failed download:
- ALL.PI: No data found, symbol may be delisted
233
234
235
236
237
238
239
240

1 Failed download:
- USB.PA: No data found, symbol may be delisted
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262

1 Failed download:
- FRC.PM: No data found, symbol may be delisted
263
264
265
266
267
268
269
270
271
272

1 Failed download:
- TFC.PR: No data found, symbol may be delisted
273
274

1 Failed download:
- CELG.RI: No data found, symbol may be delisted
275
276
277
278
279
280
281
282
283
284
285

1 Failed download:
- TFC.PO: No data found, symbol may be delisted
286
287
288
289
290
291
292
293
294
295
296

1 Failed download:
- PSA.PG: No data found, symbol may be delisted
297
298
299
300
301
302
303
304
305
306
307
308
309

1 Failed download:
- NEE.PP: No data found, symbol may be delisted
310
311

1 Failed download:
- VNO.PO: No data found, symbol may be delisted
312
313
314
315
316
317
318
319
320
321
322

1 Failed download:
- KSU.P: None
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358

1 Failed download:
- BAC.PQ: No data found, symbol may be delisted
359
360
361
362
363
364
365
366

1 Failed download:
- MET.PF: No data found, symbol may be delisted
367
368
369
370
371
372
373
374
375
376
377
378

1 Failed download:
- DLR.PL: No data found, symbol may be delisted
379
380
381
382
383
384
385
386
387

1 Failed download:
- COF.PN: No data found, symbol may be delisted
388
389
390
391

1 Failed download:
- CMS.PC: No data found, symbol may be delisted
392
393
394
395
396
397
398
399
400
401
402
403

1 Failed download:
- STT.PD: No data found, symbol may be delisted
404
405
406
407
408
409

1 Failed download:
- GL.PD: No data found, symbol may be delisted
410
411
412
413
414
415
416
417

1 Failed download:
- SCHW.PJ: No data found, symbol may be delisted
418
419
420

1 Failed download:
- MAA.PI: No data found, symbol may be delisted
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445

1 Failed download:
- PSA.PI: No data found, symbol may be delisted
446
447
448
449
450
451
452
453
454
455
456

1 Failed download:
- C.PN: No data found, symbol may be delisted
457
458
459
460
461
462
463
464
465

1 Failed download:
- KEY.PJ: No data found, symbol may be delisted
466
467
468
469

1 Failed download:
- HWM.P: No data found, symbol may be delisted
470
471
472
473
474
475
476

1 Failed download:
- AIG.PA: No data found, symbol may be delisted
477
478
479
480
481
482
483
484
485
486
487
488

1 Failed download:
- MS.PL: No data found, symbol may be delisted
489
490
491
492
493
494
495
496
497
498
499

1 Failed download:
- PNC.PP: No data found, symbol may be delisted
500
501

1 Failed download:
- SPG.PJ: No data found, symbol may be delisted
502

1 Failed download:
- TAP.A: No data found, symbol may be delisted
503
504
505

1 Failed download:
- SYF.PA: No data found, symbol may be delisted

,FLT,HLT,OXY.WT,PKI,CAT,EOG,NOW,VRSK,PEG,WRB.PH,...,SIVBP,UNP,PAYC,PNC.PP,CTLT,SPG.PJ,TAP.A,HBI,ALLE,SYF.PA
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,118.379997,42.951488,NaN,39.589897,71.146545,73.821861,55.689999,63.953556,23.652208,NaN,...,NaN,70.663208,NaN,NaN,NaN,NaN,NaN,13.897346,40.759880,NaN
2014-01-03,116.620003,43.246220,NaN,39.850994,71.106949,73.616066,55.180000,63.963367,23.727699,NaN,...,NaN,70.553261,NaN,NaN,NaN,NaN,NaN,13.885354,41.049335,NaN
2014-01-06,116.110001,43.226559,NaN,40.315166,70.172798,73.374512,55.730000,62.509876,23.871132,NaN,...,NaN,69.838646,NaN,NaN,NaN,NaN,NaN,13.817418,40.787888,NaN
2014-01-07,116.550003,43.226559,NaN,40.721310,70.402390,74.640511,57.779999,62.470589,23.893784,NaN,...,NaN,70.456001,NaN,NaN,NaN,NaN,NaN,13.747482,40.965298,NaN
2014-01-08,117.800003,43.285515,NaN,41.291859,70.568634,74.609184,57.889999,62.225067,23.765446,NaN,...,NaN,70.587112,NaN,NaN,NaN,NaN,NaN,13.621600,40.974640,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-04,241.750000,147.440002,NaN,171.990005,203.589996,90.900002,701.729980,216.600006,63.680000,NaN,...,26.530001,237.199997,512.000000,NaN,129.039993,NaN,NaN,17.651583,131.080002,NaN
2021-11-05,244.759995,151.839996,NaN,168.839996,205.880005,95.120003,692.010010,214.589996,64.190002,NaN,...,26.559999,238.830002,504.399994,NaN,122.209999,NaN,NaN,17.840000,131.410004,NaN
2021-11-08,247.389999,151.169998,NaN,173.190002,214.250000,96.989998,692.280029,214.910004,62.169998,NaN,...,26.570000,239.449997,511.420013,NaN,124.000000,NaN,NaN,17.809999,132.020004,NaN
2021-11-09,244.080002,148.460007,NaN,174.550003,209.809998,97.110001,691.270020,216.289993,62.160000,NaN,...,26.510000,241.000000,507.329987,NaN,125.040001,NaN,NaN,18.070000,132.970001,NaN
2021-11-10,243.759995,146.529999,NaN,175.880005,206.669998,94.290001,670.909973,213.820007,62.720001,NaN,...,26.379999,241.539993,491.600006,NaN,123.660004,NaN,NaN,17.990000,132.630005,NaN

In [7]:
all_df.isnull().sum()

FLT         50
HLT         50
OXY.WT    2030
PKI         50
CAT         50
          ...
SPG.PJ    2030
TAP.A     2030
HBI         50
ALLE        50
SYF.PA    2030
Length: 506, dtype: int64

In [9]:
all_df_cleaned = all_df.dropna(axis=1,thresh=51)
all_df_cleaned = all_df_cleaned.fillna(method="ffill")
all_df_cleaned

,FLT,HLT,PKI,CAT,EOG,NOW,VRSK,PEG,ATVI,AJG,...,LOW,MTB,NIMC,CDW,SIVBP,UNP,PAYC,CTLT,HBI,ALLE
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,118.379997,42.951488,39.589897,71.146545,73.821861,55.689999,63.953556,23.652208,17.043392,38.056103,...,43.074100,94.412491,NaN,21.583744,NaN,70.663208,NaN,NaN,13.897346,40.759880
2014-01-03,116.620003,43.246220,39.850994,71.106949,73.616066,55.180000,63.963367,23.727699,17.250895,38.064358,...,42.647194,94.535568,NaN,21.574512,NaN,70.553261,NaN,NaN,13.885354,41.049335
2014-01-06,116.110001,43.226559,40.315166,70.172798,73.374512,55.730000,62.509876,23.871132,17.052826,38.031361,...,42.046043,94.240158,NaN,21.925312,NaN,69.838646,NaN,NaN,13.817418,40.787888
2014-01-07,116.550003,43.226559,40.721310,70.402390,74.640511,57.779999,62.470589,23.893784,17.279192,39.045658,...,42.150578,94.757111,NaN,22.137642,NaN,70.456001,NaN,NaN,13.747482,40.965298
2014-01-08,117.800003,43.285515,41.291859,70.568634,74.609184,57.889999,62.225067,23.765446,17.298056,38.921955,...,42.298683,95.019699,NaN,22.137642,NaN,70.587112,NaN,NaN,13.621600,40.974640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-04,241.750000,147.440002,171.990005,203.589996,90.900002,701.729980,216.600006,63.680000,68.230003,160.779999,...,237.779999,154.169998,108.029999,185.000000,26.530001,237.199997,512.000000,129.039993,17.651583,131.080002
2021-11-05,244.759995,151.839996,168.839996,205.880005,95.120003,692.010010,214.589996,64.190002,67.830002,160.259995,...,235.539993,155.089996,108.260002,187.070007,26.559999,238.830002,504.399994,122.209999,17.840000,131.410004
2021-11-08,247.389999,151.169998,173.190002,214.250000,96.989998,692.280029,214.910004,62.169998,66.820000,160.910004,...,234.789993,156.589996,107.849998,185.320007,26.570000,239.449997,511.420013,124.000000,17.809999,132.020004
2021-11-09,244.080002,148.460007,174.550003,209.809998,97.110001,691.270020,216.289993,62.160000,67.099998,161.559998,...,233.910004,154.610001,107.849998,187.020004,26.510000,241.000000,507.329987,125.040001,18.070000,132.970001
2021-11-10,243.759995,146.529999,175.880005,206.669998,94.290001,670.909973,213.820007,62.720001,66.660004,161.190002,...,232.550003,156.389999,108.519997,188.800003,26.379999,241.539993,491.600006,123.660004,17.990000,132.630005

In [10]:
all_df_cleaned.to_csv("sp_prices.csv")